body {
    background-image: url(textures/light_dirt_background.png);
}

p {
    font-family: Minecraftia;
    color: #FFFFFF;
    text-shadow: 2px 2px #3F3F3F;
}

table {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th, td {
    border: 10px solid;
    border-color: #373737 #FFFFFF #FFFFFF #373737 ;
    background-color: #8B8B8B;
}

#table {
    text-align: center;
    margin: 0;
    position: relative;
}

.button_slot {
    border: none;
    width: 125px;
    height: 125px;
    background-color:  #8B8B8B;
    cursor: pointer;
}

.titleheader {
    text-align: center;
    font-size: xx-large;
    background-image: url(textures/stone.png);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    line-height: 75px;
    color: #FFFF55;
    text-shadow: 4px 4px #3F3F15;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instructions {
    position: relative;
    bottom: 675px;
    color: #FFFF55;
    text-shadow: 2px 2px #3F3F15;
    text-align: justify;
}

#Multiplayer.instructions {
    bottom: 875px;
}

@font-face {
    font-family: Minecraftia;
    src: url(Minecraftia.ttf);
}

.MCButton {
    width: 200px;
    height: 53px;
    position: relative;
    bottom: 725px;
    right: 475px;
    border: none;
    background-image: url(textures/widget.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category.MCButton {
    width: 195px;
    height: 48px;
}

#Easy.MCButton {
    background-repeat: repeat;
    background-size: auto;
    background-image: url(textures/oak_planks.png);
    bottom: 700px;
}

#Normal.MCButton {
    bottom: 675px;
    background-image: url(textures/iron_block.png);
}

#Hard.MCButton {
    bottom: 650px;
    background-image: url(textures/diamond_block.png);
}

#Seed {
    bottom: 920px;
    left: 475px;
    font-family: Minecraftia;
    color: #FFFFFF;
    text-shadow: 2px 2px #3F3F3F;
    text-align: center;
}

#TitleInstruct {
    position: relative;
    margin-bottom: 100px;
    padding-bottom: 300px;
    bottom: 200px;
}

#TitleMultiplayer.titleheader{
    background-image: none;
    position: relative;
    bottom: 700px;
    padding-bottom: 100px;
    box-shadow: none;
}

#Easy-text-short {
    display: none;
}
#Normal-text-short {
    display: none;
}
#Hard-text-short {
    display: none;
}
#Restart-text-short {
    display: none;
}

@media (max-width: 1140px) {
    #Refresh.MCButton {
        width: 53px;
        height: 53px;
        right: 425px;
    }
    #Hard.MCButton {
        width: 53px;
        height: 53px;
        right: 425px;
    }
    #Normal.MCButton {
        width: 53px;
        height: 53px;
        right: 425px;
    }
    #Easy.MCButton {
        width: 53px;
        height: 53px;
        right: 425px;
    }

    #Easy-text-short {
        display: inline-block;
    }
    #Normal-text-short {
        display: inline-block;
    }
    #Hard-text-short {
        display: inline-block;
    }
    #Restart-text-short {
        display: inline-block;
    }

    #Easy-text-long {
        display: none;
    }
    #Normal-text-long {
        display: none;
    }
    #Hard-text-long {
        display: none;
    }
    #Restart-text-long {
        display: none;
    }
    #TitleInstruct.titleheader {
        padding-bottom: 1200px;
    }
    #TitleMultiplayer{
        bottom: 1600px;
    }
    .instructions{
        bottom: 1575px; 
    }
    #Multiplayer.instructions {
        bottom: 1775px;
    }
    .titleheader {
        margin-right: -100px;
    }
}