body {
    background-image: url(textures/light_dirt_background.png);
}

p {
    font-family: Minecraftia;
    color: #FFFFFF;
    text-shadow: 2px 2px #3F3F3F;
}

table {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th, td {
    border: 10px solid;
    border-color: #373737 #FFFFFF #FFFFFF #373737 ;
    background-color: #8B8B8B;
}

#table {
    text-align: center;
    margin: 0;
    position: relative;
}

.button_slot {
    border: none;
    width: 125px;
    height: 125px;
    background-color:  #8B8B8B;
    cursor: pointer;
}

.titleheader {
    text-align: center;
    font-size: xx-large;
    background-image: url(textures/stone.png);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    line-height: 75px;
    color: #FFFF55;
    text-shadow: 4px 4px #3F3F15;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instructions {
    position: relative;
    bottom:275px;
    color: #FFFF55;
    text-shadow: 2px 2px #3F3F15;
}

@font-face {
    font-family: Minecraftia;
    src: url(Minecraftia.ttf);
}

.MCButton {
    width: 200px;
    height: 53px;
    position: relative;
    bottom: 725px;
    right: 475px;
    border: none;
    background-image: url(textures/widget.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Refresh.text {
    text-align: center;
}

.category.MCButton {
    width: 195px;
    height: 48px;
}

#Easy.MCButton {
    background-repeat: repeat;
    background-size: auto;
    background-image: url(textures/oak_planks.png);
    bottom: 700px;
}

#Normal.MCButton {
    bottom: 675px;
    background-image: url(textures/iron_block.png);
}

#Hard.MCButton {
    bottom: 650px;
    background-image: url(textures/diamond_block.png);
}

#Seed {
    bottom: 920px;
    left: 475px;
    font-family: Minecraftia;
    color: #FFFFFF;
    text-shadow: 2px 2px #3F3F3F;
    text-align: center;
}

#TitleInstruct {
    margin-bottom: 100px;
    padding-bottom: 100px;
}